<nav id="itemNav">
    <ul>
        {% include "logisticMediatheque/menus/menuAuth.html" %}
        <li><a href="{% url 'logisticMediatheque:listMedias' %}">Médias</a></li>
        <li class="submenu">
            <ul>
                <li>
                    <a href="{% url 'logisticMediatheque:listMediasByType' 'livre' %}">Livres</a>
                </li>
                <li>
                    <a href="{% url 'logisticMediatheque:listMediasByType' 'cd' %}">CDs</a>
                </li>
                <li>
                    <a href="{% url 'logisticMediatheque:listMediasByType' 'dvd' %}">DVDs</a>
                </li>
            </ul>
        </li>
        <li class="flexItemNav">
            <a href="{% url 'logisticMediatheque:listJeux' %}">Jeux</a>
        </li>
    </ul>
</nav>