{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Médiathèque CEF</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="flexWrap">
        {% if user.is_authenticated %}
            {% include "logisticMediatheque/menus/menuManage.html" %}
        {% else %}
            {% include "logisticMediatheque/menus/menuMembre.html" %}
        {% endif %}
        <div id="content">
            <h1>Médiathèque du CEF</h1>
            <div id="wrapContent">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
</body>
</html>