{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Médiathèque CEF</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <nav id="itemNav">
        <ul>
            <li><a href="{% url 'logisticMediatheque:dashboard' %}">Médias</a></li>
            <li class="submenu">
                <ul>
                    <li><a href="{% url 'logisticMediatheque:listLivres' %}">Livres</a></li>
                    <li><a href="{% url 'logisticMediatheque:listCDs' %}">CDs</a></li>
                    <li><a href="{% url 'logisticMediatheque:listDVDs' %}">DVDs</a></li>
                </ul>
            </li>
            <li><a href="{% url 'logisticMediatheque:listJeux' %}">Jeux de plateau</a></li>
            <li><a href="{% url 'logisticMediatheque:listMembres' %}">Membres</a></li>
            <li><a href="{% url 'logisticMediatheque:historique' %}">Historique</a></li>
        </ul>
    </nav>
    {% block content %}{% endblock %}
</body>
</html>