{% extends 'logisticMediatheque/base.html' %}

{% block content %}

    <h2>Tous les articles</h2>

    {% if type == 'medias' %}
        {% for item in items %}
            <p class="item"><a href="{% url 'logisticMediatheque:mediaDetail' item.mediaType item.id %}">{{item.title}}</a></p>
        {% endfor %}
    {% elif type == 'jeux' %}
        {% for item in items %}
            <p class="item"><a href="{% url 'logisticMediatheque:jeuDetail' item.id %}">{{item.gameTitle}}</a></p>
        {% endfor %}
    {% endif %}

{% endblock content %}